NEXT_PUBLIC_ROBINHOOD_TESTNET_RPC_URL=https://rpc.testnet.chain.robinhood.com
NEXT_PUBLIC_API_URL=http://localhost:4000
API_INTERNAL_URL=http://localhost:4000
NEXT_PUBLIC_X_URL=https://x.com
NEXT_PUBLIC_DISCORD_URL=https://discord.com
NEXT_PUBLIC_DEFAULT_CONTEST_ID=0xb73517e2deacfc81a60953d1545f6602b186483d3e9b59fc43a5a8e75497513d
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_APP_URL=http://localhost:3000
